*, ::after, ::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    font-family: 'Josefin Slab', serif;
}

.container {
    height: 900px;
    width: 100%;
    position: relative;
}

.container__video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container__text {
    font-weight: bold;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container__name {
    font-size: 64px;
    text-align: center;
}

.container__description {
    font-size: 32px;
    margin-top: 72px;
}

.description__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    list-style: none;
}